<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EVA_1ERA_PRACTICA_3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2955D56A1E57720D00CF1607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2955D57E1E57720D00CF1607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2955D5891E57720D00CF1607</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
